body {
	height: 100vh;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	background: #455a64;
	color: #fff;
  font-family: 'Open Sans', sans-serif;
}

img {
	width: 50px;
	height: 50px;
}

input, button {
	display: block;
	margin: auto;
}

.main {
	background-color: #455a64;
	text-align: center;
	margin: auto;
}

.cards {
	background-color: #cfd8dc;
}

.one, .two,
.three, .four {
	background-color: #fff;
	color: #455a64;
	height: 140px;
	border: #607d8b solid 1px;
	margin: 20px;
  padding: 12px;
  padding-left: 20px;
  grid-template-rows: 2fr 2fr 1fr;
  display: grid;
  border-style: solid;
  border-color: #607D8B;
  border-width: 3px;
}

input{
  font-size: 20px;
  margin: 10px;
  width: 400px;
}
.title{
  font-size: 50px;
  font-weight: bold;
}

.site-title{
  font-size: 24px;
  font-weight: bold;
  color: #455A64;
}

.url{
  color: #607D8B;
  font-size: 20px;
}

.button{
  background-color: #FFC107;
  color: #FFFFFF;
  width: 400px;
  margin-top: 20px;
  height: 30px;
  }





