
a{
  display: block;
}

body {
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	background: #455a64;
	color: #fff;
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
}

.create-bookmark{
  background-color: #FFC107;
  color: #FFF;
  font-size: 18px;
  font-weight: 800;
}

button:hover {
	background: #ffd773;
  cursor: pointer;
}

button:disabled {
  background: #cfd8dc;
}

button:disabled:hover{
  cursor: not-allowed;
}

.cards {
	background: #cfd8dc;
  overflow: scroll;
}

.delete {
	float: right;
}

.delete:hover, .url:hover, 
.read-button:hover {
	color: #455a64;
	text-decoration-color: #ffc107;
	cursor: pointer;
}

img {
	width: 70px;
	height: 40px;
	margin: 0px 10px;
}

input {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 40px;
  box-sizing: border-box;
}

input, button {
	display: block;
	border: none;
	padding: 5px;
	width: 400px;
	height: 38px;
}

.main {
	background: #455a64;
	text-align: center;
	margin: auto;
}

.num-count, .read-count {
  text-align: center;
  color: #455A64;
}

.one {
	background: #fff;
	height: 170px;
	margin: 20px;
	padding: 10px 20px;
	border: #607D8B solid 2px;
}

.read-button, .delete {
	text-decoration: underline;
	color: #607d8b;
  display: inline-block;
}

.read {
  background-color: #F2F4F4;
}

.read-red{
  color: #f05A28;
  text-decoration: none;
}

.site-title {
  font-size: 24px;
  font-weight: bold;
  color: #455A64;
  border-bottom: #cfd8dc solid 1px;
  padding-bottom: 10px;
}

.title {
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 40px;
}

.site-title, .url {
	margin: 15px 0px;
}

.url {
  color: #607D8B;
  font-size: 20px;
  font-weight: 300;
  text-decoration: underline;
  text-decoration-style: 1px;
  border-bottom: #cfd8dc solid 1px;
  padding-bottom: 20px;
}

ul {
  padding: 0;
  list-style-type: none;
  list-style-position: inside;
}

@media screen and (max-width: 750px) {
	body{
		grid-template-columns: 1fr;
	}
}












