body {
	height: 100vh;
	margin: auto;
	display: grid;
	grid-template-columns: 1fr 1fr;
	background: #455a64;
	color: #fff;
  	font-family: 'Open Sans', sans-serif;
}

.button {
  background-color: #FFC107;
  color: #FFF;
  font-size: 15px;
  width: 400px;
  height: 30px;
  border: none;
}

.cards {
	background: #cfd8dc;
}

img {
	width: 70px;
	height: 40px;
	margin: 0px 10px;
}

input {
  font-size: 24px;
  margin-bottom: 40px;
  width: 400px;
  border: none;
}

input, button {
	display: block;
	margin: auto;
}

.main {
	background: #455a64;
	text-align: center;
	margin: auto;
}

.one, .two,
.three, .four {
	background: #fff;
	color: #455a64;
	height: 150px;
	margin: 20px;
	padding: 10px 20px;
	border: #607D8B solid 2px;
}

.read, .delete {
	text-decoration: underline;
}

.site-title {
  font-size: 24px;
  font-weight: bold;
  color: #455A64;
  border-bottom: #cfd8dc solid 1px;
  padding-bottom: 10px;
}

.title {
  font-size: 50px;
  font-weight: bold;
}

.title, .site-title,
.url {
	margin: 15px 0px;
}

.url {
  color: #607D8B;
  font-size: 20px;
  text-decoration: underline;
  border-bottom: #cfd8dc solid 1px;
  padding-bottom: 20px;
}


















